@font-face {
    font-family: nav_font;
    src: url("/font/persian-alkharashi52.ttf");
}


.navbar-custom{
    background: linear-gradient(90deg , #7869EC  , #0D0073 37%);
    display: flex;
    justify-content: space-around;
    direction: rtl;
    
}
.nav-custom{
   font-family: nav_font;
   
}
.img-icon{
    width: 20px;
    fill: white !important;  
}
.img-icon-custom{
    width: 25px;
    fill: white !important;  
}
.a-nav{
    align-self: center;
    margin-left: 20px;
}